<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techouts.pcomplaints">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".XPoliceServiceApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_color" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PermissionsAndVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreateServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CyberCafeApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplicationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GunLicenceApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrimeReportApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatrimonialVerificationApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplicationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExServiceManRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ExServiceManListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ExServiceManDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCompliaintsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PermissionInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMain"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fchat.firebase.google.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChatDetails"
            android:label="List"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ActivitySelectFriend"
            android:label="Select Friend"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name=".PaymentActivity"></activity>
    </application>

</manifest>